/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button mat-icon {
    margin-right: 10px;
  }
  
.primary_button{
    background-color: #315B9D;
    color: white;
}

.secondary_button {
  background-color: white;
  color: #315B9D;
}

.mat-raised-button.button_clear {
  background-color: transparent;
  color: #315B9D;
}

mat-form-field {
  width: 100%;
}

button {
  text-transform: uppercase;
}

.no_padding {
  padding:0;
}

.table-list {
  background: white;
  padding: 20px 50px !important;
  margin-top: 30px;
}

.table-header {
  padding: 15px 0;
  border-bottom: 1px solid #e6e8ed;
}

.table-rows {
  padding: 15px 0;
  border-bottom: 1px solid #e6e8ed;
  display: flex;
  align-items: center;
}

.table-rows:last-child {
  border-bottom: none;
}

.mat-raised-button:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.button-clear {
  background: none;
  color: #315B9D;
  box-shadow:none;
  width: auto;
}

.button-clear i {
  margin-right: 10px;
  font-size: 20px;
}

.align-center {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}