.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login_card {
  width: 300px;
  background: #f2f2f2;
  box-shadow: 3px 6px 6px rgba(0,0,0,0.25);
  border-radius: 5px;
  padding: 25px 30px;
}

h1 {
  text-align: center;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 50px;
}

.logo-container {
  display: flex;
  align-items:center;
  justify-content: center;
  padding: 30px 0 30px 0;
}

.logo-container img{
  width: 150px;
  height:auto;
}

form {
  margin-bottom: 30px;
}

form mat-icon {
  margin-right: 15px;
}

.error {
  color: #315B9D;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.primary_button, .secondary_button {
  margin-bottom: 20px;
  width:100%;
}


@media only screen and (max-width: 576px) {

  .login_container {
    padding: 0 30px 0 0;
  }

  .login_card {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding:0 30px;
  }
}
