button i {
    margin-right: 10px;
}

.img-profilo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background: white;
}

.img-profilo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.img-container {
    margin-bottom: 20px;
}

