<div class="col-12 no_padding">
  <div class="col-12 toolbar_container">
    <app-navbar></app-navbar>
  </div>
  <div class="row">
    <div class="col-lg-2 side_menu">
      <mat-list>
        <mat-list-item routerLink="utenti" routerLinkActive="arrow-left-click-item">
          <span><mat-icon>list_alt</mat-icon>Utenti</span>
          <div routerLink="utenti" routerLinkActive="arrow-left-click"></div>
        </mat-list-item>
        <mat-list-item routerLink="statistiche" routerLinkActive="arrow-left-click-item">
          <span><mat-icon>library_books</mat-icon>Statistiche</span>
          <div routerLink="statistiche" routerLinkActive="arrow-left-click"></div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item (click)="logout()">
          <span><mat-icon>exit_to_app</mat-icon>Esci</span>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 home">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
