.toolbar_container {
  background-color: white;
  padding-left: 0;
  padding-right: 0;
}

.side_menu {
  background-color: #033D4F;
  min-height: 100vh;
  padding: 50px 0 0 0;
}

.side_menu mat-list-item {
  cursor: pointer;
  outline: none;
  color: white;
  font-weight: 700;
  padding-left: 20px;
}

.side_menu mat-list-item:hover {
  background-color: #315B9D !important;
}

.side_menu span {
  display: flex;
  align-items: center;
}

.side_menu mat-icon {
  margin-right: 15px;
}

.home {
  background-color: #E6E6E6;
  min-height: 100vh;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  height: 66px;
}

mat-divider {
  background-color: white;
  width: 85%;
  margin: auto;
  margin-top: 40px;
}

.arrow-left-click {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  right: 0;
  border-right:10px solid #E6E6E6;
  background-color: #315B9D !important;
}

.arrow-left {
  background-color: #315B9D !important;
}

.arrow-left-click-item {
  background-color: #315B9D;
}

.home {
  padding: 50px;
}

@media only screen and (max-width: 1024px) {

  .side_menu {
    display: none;
  }

  .home {
    flex:100%;
    max-width:100%;
    padding: 20px 50px;
  }

}

@media only screen and (max-width: 767px) {

  .toolbar_container {
    padding: 0;
    background-color: #033D4F;
  }

  .no_padding {
    padding: 0;
  }

}
