.paginator-container {
    margin-top: 20px;
}

.card {
    display: none;
    padding: 30px 20px;
    margin-bottom: 30px;
}

.table-list {
    display: block;
}

.card button {
    margin-top: 30px;
}

.red_button {
    margin-left: 15px;
}

@media only screen and (max-width: 768px) {
    .card {
        display: flex;
    }

    .table-list {
        display: none;
    }

    .card .row div {
        margin-bottom: 10px;
    }

    .row.no-gutters {
        display: flex;
        flex-direction: column;
    }

    .row.no-gutters .col-8, .row.no-gutters .col-4 {
        max-width: 100% !important;
        width: 100%;
        padding: 10px;
    }

    .row.no-gutters .col-8 {
        display: flex;
        justify-content: center;
    }
}