<nav class="navbar navbar-expand-md navbar-dark">
  <a class="navbar-brand" href="#">NOVARIA</a>
  <button class="navbar-toggler" type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mobile_item" routerLink="utenti">
        <span><mat-icon>list_alt</mat-icon>Utenti</span>
      </li>
      <li class="nav-item mobile_item" routerLink="statistiche">
        <span><mat-icon>library_books</mat-icon>Statistiche</span>
      </li>
      <li class="nav-item mobile_item mobile_item_exit" (click)="logout()">
        <span><mat-icon>exit_to_app</mat-icon>Esci</span>
      </li>
      <li class="nav-item desktop_item" id="profile_photo_container">
        <strong>TEST</strong>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="utenti">
            <mat-icon class="menu_icons">list_alt</mat-icon>
            <span>Utenti</span>
          </button>
          <button mat-menu-item routerLink="pratiche">
            <mat-icon class="menu_icons">library_books</mat-icon>
            <span>Pratiche</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon class="menu_icons">exit_to_app</mat-icon>
            <span>Esci</span>
          </button>
        </mat-menu>
      </li>
    </ul>
  </div>
</nav>
