agm-map {
  height: 800px;
  position: relative;
}

.directions-card {
  background: white;
  padding: 20px 30px;
  position: absolute;
  width: 330px;
  top: 100px;
  left: 100px;
  z-index: 10;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

button {
  margin-top: 30px;
}

@media only screen and (max-width: 1024px) {
  agm-map {
    height: 90%;
  }
}

@media only screen and (max-width: 991px) {
  .directions-card {
    width: 60%;
    transform: translateX(-50%);
    left: 50%;
    top: 50px;
    padding: 20px;
  }

  button {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 576px) {
  .directions-card {
    width: 80%;
  }
}