<div class="directions-card column">
  <form class="example-form">
    <mat-form-field>
      <input matInput placeholder="Indirizzo di andata">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>
  <form class="example-form">
    <mat-form-field>
      <input matInput placeholder="Indirizzo di ritorno">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>
  <button class="primary_button" mat-raised-button>
    Cerca
  </button>
</div>

<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>