.navbar-brand {
  font-family: 'Open Sans';
  color: #033D4F;
}

a:hover {
  color: #033D4F !important;
}

a:visited {
  color: #033D4F !important;
}

.nav-link {
  color: white;
}

li {
  padding-right: 20px;
}

.nav_p {
  display: flex;
  align-items: center;
  color: black;
}

mat-icon {
  margin-right: 10px;
  color: black;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
}

#profile_photo_container {
  display: flex;
  align-items: center;
}

#profile_photo {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 100px;
}

#profile_photo .mat-menu-item {
  color: black;
}

.mat-menu-item .mat-icon-no-color, .mat-menu-item-submenu-trigger::after {
  color: rgba(0, 0, 0, 1);
}

.mobile_item {
  display: none;
  padding: 10px 0;
}

.mobile_item_exit {
  border-top: 1px solid white;
  margin-top: 15px;
  padding-top: 15px;
}

.navbar-nav {
  font-weight: 700;
}

.navbar-nav, .navbar-nav mat-icon {
  color: white;
}

.navbar-dark .navbar-toggler {
  border-color: transparent;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("../../assets/img/menu-icon.png");
  width: 25.5px;
  height: 15.5px;
}

.desktop_item, .desktop_item mat-icon {
  color: black;
}

.mat-icon-button mat-icon {
  margin-right: 0;
}

button.center {
  display: flex !important;
  line-height: 0;
  margin-left: 15px;
}

@media only screen and (max-width: 767px) {

  a.navbar-brand {
    color: white !important;
  }

  img {
    width: 120px;
  }

  #profile_photo_container {
    display: none;
  }

  .desktop_item {
    display: none;
  }

  .mobile_item {
    display: inline-block;
  }

  .mobile_item span {
    display: flex;
    align-items: center;
  }

  .navbar-collapse {
    padding: 15px 0;
  }
}