<nav class="navbar navbar-expand-md navbar-dark">
  <a class="navbar-brand" href="#">NOVARIA</a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mobile_item" routerLink="utenti">
        <span>
          <mat-icon>people</mat-icon>Utenti
        </span>
      </li>
      <li class="nav-item mobile_item" routerLink="statistiche">
        <span>
          <mat-icon>library_books</mat-icon>Statistiche
        </span>
      </li>
      <li class="nav-item mobile_item" routerLink="profilo">
        <span>
          <mat-icon>person</mat-icon>Profilo
        </span>
      </li>
      <li class="nav-item mobile_item" routerLink="mappa">
        <span>
          <mat-icon>place</mat-icon>Mappa
        </span>
      </li>
      <li class="nav-item mobile_item" routerLink="rich-text-editor">
        <span>
          <mat-icon>code</mat-icon>Rich Text Editor
        </span>
      </li>
      <li class="nav-item mobile_item mobile_item_exit" (click)="logout()">
        <span>
          <mat-icon>exit_to_app</mat-icon>Esci
        </span>
      </li>
      <li class="nav-item desktop_item" id="profile_photo_container">
        <strong>TEST</strong>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="center">
          <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="utenti">
            <mat-icon class="menu_icons">people</mat-icon>
            <span>Utenti</span>
          </button>
          <button mat-menu-item routerLink="statistiche">
            <mat-icon class="menu_icons">library_books</mat-icon>
            <span>Statistiche</span>
          </button>
          <button mat-menu-item routerLink="profilo">
            <mat-icon class="menu_icons">person</mat-icon>
            <span>Profilo</span>
          </button>
          <button mat-menu-item routerLink="mappa">
            <mat-icon class="menu_icons">place</mat-icon>
            <span>Mappa</span>
          </button>
          <button mat-menu-item routerLink="rich-text-editor">
            <mat-icon class="menu_icons">code</mat-icon>
            <span>Rich Text Editor</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon class="menu_icons">exit_to_app</mat-icon>
            <span>Esci</span>
          </button>
        </mat-menu>
      </li>
    </ul>
  </div>
</nav>