<div class="col-12 no_padding">
  <div class="row no-gutters">
    <div class="col-8 align-center">
      <button mat-raised-button class="button-clear" (click)="openAddAuthors()"><i class="fas fa-plus-circle"></i>Aggiungi Utente</button>
    </div>
    <div class="col-4 flex-end">
      <form class="example-form">
        <mat-form-field>
          <input matInput placeholder="Cerca">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form>
    </div>
  </div>
</div>

<div class="table-list col-12">
  <div class="row table-header">
    <div class="col-3">
      <strong>Nome</strong>
    </div>
    <div class="col-4 text-center">
      <strong>Indirizzo</strong>
    </div>
    <div class="col-3 text-center">
      <strong>Telefono</strong>
    </div>
    <div class="col-2 text-center">
      <strong>Action</strong>
    </div>
  </div>
  <div class="row table-rows">
    <div class="col-3">
      <span>Agnese Innocente</span>
    </div>
    <div class="col-4 text-center">
      <span>Via Lorem Ipsum, 25 - Palermo</span>
    </div>
    <div class="col-3 text-center">
      <span>3333333333</span>
    </div>
    <div class="col-2 center">
      <button mat-raised-button class="primary_button" (click)="openAddAuthors()">Mostra</button>
    </div>
  </div>
  <div class="row table-rows">
    <div class="col-3">
      <span>Agnese Innocente</span>
    </div>
    <div class="col-4 text-center">
      <span>Via Lorem Ipsum, 25 - Palermo</span>
    </div>
    <div class="col-3 text-center">
      <span>3333333333</span>
    </div>
    <div class="col-2 center">
      <button mat-raised-button class="primary_button" (click)="openAddAuthors()">Mostra</button>
    </div>
  </div>
  <div class="row table-rows">
    <div class="col-3">
      <span>Agnese Innocente</span>
    </div>
    <div class="col-4 text-center">
      <span>Via Lorem Ipsum, 25 - Palermo</span>
    </div>
    <div class="col-3 text-center">
      <span>3333333333</span>
    </div>
    <div class="col-2 center">
      <button mat-raised-button class="primary_button" (click)="openAddAuthors()">Mostra</button>
    </div>
  </div>
  <div class="row table-rows">
    <div class="col-3">
      <span>Agnese Innocente</span>
    </div>
    <div class="col-4 text-center">
      <span>Via Lorem Ipsum, 25 - Palermo</span>
    </div>
    <div class="col-3 text-center">
      <span>3333333333</span>
    </div>
    <div class="col-2 center">
      <button mat-raised-button class="primary_button" (click)="openAddAuthors()">Mostra</button>
    </div>
  </div>
  <div class="row table-rows">
    <div class="col-3">
      <span>Agnese Innocente</span>
    </div>
    <div class="col-4 text-center">
      <span>Via Lorem Ipsum, 25 - Palermo</span>
    </div>
    <div class="col-3 text-center">
      <span>3333333333</span>
    </div>
    <div class="col-2 center">
      <button mat-raised-button class="primary_button" (click)="openAddAuthors()">Mostra</button>
    </div>
  </div>
  <div class="paginator-container">
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>