<div>
  <div class="col-12 toolbar_container">
    <app-navbar></app-navbar>
  </div>
  <div class="row">
    <div class="col-lg-2 side_menu secondary_color">
      <mat-list>
        <mat-list-item routerLink="utenti" routerLinkActive="primary_color">
          <span><mat-icon>people</mat-icon>Utenti</span>
          <div routerLink="utenti" routerLinkActive="arrow-left-click"></div>
        </mat-list-item>
        <mat-list-item routerLink="statistiche" routerLinkActive="primary_color">
          <span><mat-icon>trending_up</mat-icon>Statistiche</span>
          <div routerLink="statistiche" routerLinkActive="arrow-left-click"></div>
        </mat-list-item>
        <mat-list-item routerLink="profilo" routerLinkActive="primary_color">
          <span><mat-icon>person</mat-icon>Profilo</span>
          <div routerLink="profilo" routerLinkActive="arrow-left-click"></div>
        </mat-list-item>
        <mat-list-item routerLink="mappa" routerLinkActive="primary_color">
          <span><mat-icon>place</mat-icon>Mappa</span>
          <div routerLink="mappa" routerLinkActive="arrow-left-click"></div>
        </mat-list-item>
        <mat-list-item routerLink="rich-text-editor" routerLinkActive="primary_color">
            <span><mat-icon>code</mat-icon>Rich Text Editor</span>
            <div routerLink="rich-text-editor" routerLinkActive="arrow-left-click"></div>
          </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item (click)="logout()">
          <span><mat-icon>exit_to_app</mat-icon>Esci</span>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 home">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
