<div class="col-12 login_container">
  <div class="login_card text-center">
    <div class="logo-container">
      <img src="../../assets/img/logo.png" alt="">
    </div>
    <form name="loginForm" #f="ngForm" (ngSubmit)="login()">
      <mat-form-field>
        <mat-icon matPrefix>email</mat-icon>
        <input matInput placeholder="E-mail" name="email" id="email" [formControl]="email" [(ngModel)]="Email">
      </mat-form-field>
      <mat-form-field>
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput placeholder="Password" name="password" id="password" type="password" [formControl]="password" [(ngModel)]="Password">
      </mat-form-field>
      <strong *ngIf="login_fail" class="error">E-mail o Password errati</strong>
    </form>
    <button class="primary_button" mat-raised-button (click)="login()">
      ENTRA
    </button>
    <button mat-raised-button class="recupera_password secondary_button">Recupera password</button>
  </div>
</div>
