<div class="align-center back-container">
  <button mat-raised-button class="button-clear button-clear-blue" (click)="goBack()"><i
      class="fas fa-angle-left"></i>Back</button>
</div>

<div class="table">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <form>
        <mat-form-field>
          <input matInput placeholder="Nome">
        </mat-form-field>
      </form>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <form>
        <mat-form-field>
          <input matInput placeholder="Cognome">
        </mat-form-field>
      </form>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <form>
        <mat-form-field>
          <mat-label>Sesso</mat-label>
          <mat-select>
            <mat-option>
             Uomo
            </mat-option>
            <mat-option>
              Donna
             </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <form>
        <mat-form-field>
          <input matInput placeholder="E-mail">
        </mat-form-field>
      </form>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <form>
        <mat-form-field>
          <input matInput placeholder="Indirizzo">
        </mat-form-field>
      </form>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <form>
        <mat-form-field>
          <input matInput placeholder="Numero civico">
        </mat-form-field>
      </form>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <form>
        <mat-form-field>
          <input matInput placeholder="CAP">
        </mat-form-field>
      </form>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <form>
        <mat-form-field>
          <input matInput placeholder="Città">
        </mat-form-field>
      </form>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <form>
        <mat-form-field>
          <input matInput placeholder="Provincia">
        </mat-form-field>
      </form>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <form>
        <mat-form-field>
          <input matInput placeholder="Telefono">
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="col-12 center button-container">
    <button class="primary_button" mat-raised-button><i class="fas fa-save"></i>Salva</button>
  </div>
</div>